global
    log stdout format raw local0
    stats socket /tmp/haproxy.stat mode 660 level admin

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Annuaire Docker pour la résolution dynamique
resolvers docker_resolver
    nameserver dns1 127.0.0.11:53
    hold valid 10s

frontend http-in
    bind *:80
    
    # Définition de la règle pour les statistiques
    acl is_stats path_beg /haproxy_stats
    
    # Configuration des statistiques internes avec variables sécurisées
    stats enable
    stats uri /haproxy_stats
    stats refresh 5s
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
    
    # Routage : vers Jenkins uniquement si ce n'est PAS les stats
    use_backend jenkins_backend if !is_stats

backend jenkins_backend
    # On accepte le 403 de Jenkins comme un signe de vie
    http-check expect status 200-403
    server jenkins_srv jenkins:8080 check resolvers docker_resolver init-addr last,libc,none
