global
    log stdout format raw local0
    stats socket /tmp/haproxy.stat mode 660 level admin
    stats timeout 30s

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Annuaire interne Docker pour la résolution dynamique
resolvers docker_resolver
    nameserver dns1 127.0.0.11:53
    hold valid 10s

frontend http-in
    bind *:80
    default_backend jenkins_backend

backend jenkins_backend
    # On utilise le resolver et init-addr pour forcer HAProxy à chercher Jenkins
    server jenkins_srv jenkins:8080 resolvers docker_resolver init-addr last,libc,none
